.navContainer {
  max-width: 1440px;
  margin: 0 auto;
}

nav {
  display: flex;
  height: 72px;
  justify-content: space-between;
  padding: 0 70px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 500;
  list-style: none;
}
